#toolbarDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3;
  }
  #distance, #area, #clear{
    border: 0;
  }